**/.ipynb_checkpoints/
**/__pycache__/
*.env

.DS_Store

data/
data_preprocessing/.data

models/trained_xgb_model.pkl
models/trained_gat_model.pt
models/venv/
models/explanations/
models/explanations_test/
models/hf_cache/

finetuned_llms/slurm_deepseek_hybrid.sh
finetuned_llms/slurm_gemma3_hybrid.sh
finetuned_llms/samples/

evaluations/

